/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Center the whole page content */
    align-items: center; /* Center vertically */
    height: 100vh;
}

#authSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    width: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#authTitle {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

#authSection input {
    margin: 10px 0;
    padding: 12px;
    width: 100%;
    max-width: 320px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

#authSection button {
    padding: 12px 20px;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    max-width: 320px;
    margin-top: 10px;
}

#authSection button:hover {
    background-color: #45a049;
}

#authSection p {
    margin-top: 10px;
    color: #333;
}

#authSection span {
    color: #4CAF50;
    cursor: pointer;
    font-weight: bold;
}

#authSection span:hover {
    text-decoration: underline;
}

#chatSection {
    display: none;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

#chatLayout {
    width: 80%;
    max-width: 800px; /* Set a max width for the chat layout */
    display: flex;
    height: 70%; /* Adjust height as needed */
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#roomSection {
    flex: 1;
    background-color: #f4f4f4;
    padding: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#roomSection input, #roomSection button {
    width: 100%;
    margin: 10px 0;
}

#chatWindow {
    flex: 2;
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#chat {
    height: calc(100vh - 120px);
    overflow-y: scroll;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fafafa;
}

textarea {
    width: 100%;
    height: 60px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.message {
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

.sender {
    background-color: #0084ff;
    text-align: right;
}

.receiver {
    background-color: #f1f1f1;
}
