* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: silver;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 800px;
    padding: 20px;
    height: 550px;
}

.left-side {
    width: 30%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right-side {
    width: 70%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

#roomUserCount {
    font-size: 16px;
    color: #555;
    font-weight: bold;
    margin-top: 10px;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 8px;
    display: inline-block;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#roomUserCount:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}

.input-group {
    margin-bottom: 15px;
}

input {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 14px;
}

button {
    padding: 10px;
    width: 100%;
    background-color: #4CAF50;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

button:hover {
    background-color: #45a049;
}

button:active {
    background-color: #388e3c;
}

/* Chat Messages */
#chat {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    margin-bottom: 15px;
    max-height: 300px;
}

#chat .message {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.5;
    display: flex;
    align-items: center;
}

#chat .message .profile-name {
    font-weight: bold;
    margin-right: 10px;
}

#chat .message .text {
    background-color: #dfe6e9;
    padding: 8px 12px;
    border-radius: 10px;
    max-width: 70%;
}

/* sender-right */

#chat .message.sender {
    justify-content: flex-end;
}

#chat .message.sender .text {
    background-color: #74b9ff;
    max-width: 60%;
}
/* reciever-left */


#chat .message.receiver {
    justify-content: flex-start;
}

#chat .message.receiver .text {
    background-color: #55efc4;
    max-width: 60%;
}
